# VTC platform environment variables
OPERATOR_NAME="VTC.solutions"
OPERATOR_SIRET="123 456 789 00012"
OPERATOR_EVTC_NUMBER="EVTC-2024-001"

# Booking service
BOOKING_SERVICE_DB_URL="postgres://vtc:vtc@localhost:5432/vtc?sslmode=disable&search_path=booking"
BOOKING_SERVICE_PORT=3001

# Client service
CLIENT_SERVICE_DB_URL="postgres://vtc:vtc@localhost:5432/vtc?sslmode=disable&search_path=client"
CLIENT_SERVICE_PORT=3002

# Fleet service
FLEET_SERVICE_DB_URL="postgres://vtc:vtc@localhost:5432/vtc?sslmode=disable&search_path=fleet"
FLEET_SERVICE_PORT=3003

# Proof service
PROOF_SERVICE_DB_URL="postgres://vtc:vtc@localhost:5432/vtc?sslmode=disable&search_path=proof"
PROOF_SERVICE_PORT=3004

# Gateway
GATEWAY_PORT=8080

# Cache
VALKEY_URL="valkey://localhost:6379"

# CLerk
CLERK_JWKS_URL="https://open-prawn-98.clerk.accounts.dev/.well-known/jwks.json"